/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/


.home .entry-content .col > div:first-of-type {
	height: 16em;
}

//Buttons
  span.prev,
  span.next {
  	opacity: 0;
	top: 150px;
	@include transition(opacity 1s);
	height: 20px;
    position: absolute;
    @include font-size(40);
    cursor: pointer;
    color: rgba(188,188,188, 0.8);
     -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  }
  span.prev {
    left: 20px;
  }

  span.next {
    right: 20px;
  }

  .banner-holder:hover span.prev,
.banner-holder:hover span.next {
  opacity: 1;
}


  span.prev:before {
    font-family: FontAwesome; /* font family is included in Canvas Framework */
    content: "\f137";
  }

  span.next:before {
    font-family: FontAwesome; /* font family is included in Canvas Framework */
    content: "\f138";
  }
  
span.prev, 
span.next {
	top: 200px;
}

.home .entry-content a.button {
	float: right;
	margin: 1em .5em 1em 0;
}