/******************************************************************
Site Name: NextFrame
Author: Scott Pinkelman

Stylesheet: Unslider Base

Base styles for unslider. Called after _base.scss in _style.css so we can see it on phones.

See http://unslider.com/ for instructions

******************************************************************/
//Base Styles

.banner { 
	position: relative; 
	overflow: auto; 
	width: 1140px; 
	margin: 0 auto;
}
	.banner li {
	list-style: none;
 }
    .banner ul li {
    float: left;
    height: 150px;
 }

        //Custom

        /*.banner { 
	position: relative; 
	overflow: auto;
	height: 240 !important;
	max-width: 100%;
 }
.banner li { list-style: none; }
.banner ul li { float: left; }    
        

        		//Front Page Slider
		.banner {
			//background: url('/wp-content/themes/nextFrame-bones/library/images/slider_bg.png');
	
		}*/

		.banner {
			margin-top: 0;
					//http://ptrn.it/1nsB1Ab
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2Ns0DL4z4AEGAkLSElJ/U8TEINrAgAjZwdpc2aoYAAAAABJRU5ErkJggg==') repeat;
			padding: 1em 0;
		}
