/******************************************************************
Site Name: NextFrame
Author: Scott Pinkelman

Stylesheet: Unslider Base

Base styles for unslider. Called after _base.scss in _style.css so we can see it on phones.

See http://unslider.com/ for instructions

******************************************************************/
//Base Styles

//Container

.banner-holder {
 position: relative;
 max-width: 1440px; /*This is the width of our sliders*/
 margin: 0 auto;
 max-height: 380px;
}

.banner { 
  position: relative; 
  overflow: auto;
 }
.banner li {
   list-style: none;
      }
.banner ul li {
  float: left;
  text-align: center;
 }

ul.slider img {
  max-width: 100%;
}
/*

.banner { 
	position: relative;
	overflow: auto; 		
	margin: 0 auto;
  //Fadein animation defined at button of unslider.scss
  animation: fadein 2s;
  -moz-animation: fadein 3s; 
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s; 		
}
    
.banner ul li { 
	list-style: none;
  float: left;
  display: block;
	min-height: 200px; 
  //This gets increased in 768up.scss
	margin-top: 0;
  text-align: center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
	*/
ul.slider {
	margin-top: 0;
}

.banner p {
  color: $nf-pure-white;
  @include font-size(21);
}
/*
//Only use if you're putting images within the LI tag
ul.slider img {
	margin: 0;
  max-width: 100%;
}
*/



//Fade in 
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
