<div class="section group section-center">
	<div class="col span_1_of_3 pad">
		<i class="fa fa-dot-circle-o"></i>
		<div class="col-info">
			<h2>About</h2>
					<div class>
						We are an independent gym that is committed to working with you to gain the results you want. Whether your aim is to loose weight, tone up, build bulk or gain weight we can put together a gym programme or recommend the right classes for you to attend in our studios.
					</div>

					<div>
						<a class="button" href="#">Read More</a>
					</div>
			</div>
	<div class="col span_1_of_3 pad">
		<i class="fa fa-dot-circle-o"></i>
		<div class="col-details">
		<h2>Movies</h2>
			<div class>
				We are an independent gym that is committed to working with you to gain the results you want. Whether your aim is to loose weight, tone up, build bulk or gain weight we can put together a gym programme or recommend the right classes for you to attend in our studios.
			</div>
			<div>
				<a class="button" href="#">Read More</a>
			</div>
		</div>

		<div class="col span_1_of_3 pad">
		<i class="fa fa-dot-circle-o"></i><h2>Temple Univ.</h2>
		<div class>
			Our members benefit from a free gym programme and review every month, free studio classes and price reductions on our personal training sessions. As a member you can also access our pool and tennis courts for free and have priority for booking any of the pre-book activities, classes or sessions that we run.
		</div>
		<div>
			<a class="button" href="#">Read More</a>
		</div>
	</div>
</div>



